.main-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    /* Width of sidebar */
    display: flex;
    flex-direction: column;
    background-color: #f8fafc;
}

.page-content {
    padding: 2rem;
    flex: 1;
}